<IfModule mod_headers.c>
    # Enable rewrite
    RewriteEngine On

    # Serve brotli compressed js files if they exist and the client accepts gzip.
    RewriteCond %{REQUEST_FILENAME} \.js$ [NC]
    RewriteCond %{HTTP:Accept-encoding} br
    RewriteCond %{REQUEST_FILENAME}\.br -s
    RewriteRule ^(.*)\.js $1\.js\.br [QSA]
    # Brotli not accepted
    RewriteCond %{REQUEST_FILENAME} \.js\.br$ [NC]
    RewriteCond %{HTTP:Accept-encoding} !br
    RewriteCond %{REQUEST_FILENAME} -s
    RewriteRule ^(.*)\.js\.br $1\.js [L,QSA]

    # Serve gzip compressed js files if they exist and the client accepts gzip.
    RewriteCond %{REQUEST_FILENAME} \.js$ [NC]
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.js $1\.js\.gz [QSA]
    # Gzip not accepted
    RewriteCond %{REQUEST_FILENAME} \.js\.gz$ [NC]
    RewriteCond %{HTTP:Accept-encoding} !gzip
    RewriteCond %{REQUEST_FILENAME} -s
    RewriteRule ^(.*)\.js\.gz $1\.js [L,QSA]

    # Serve correct content types, and prevent mod_deflate double gzip.
    RewriteRule \.js\.gz$ - [T=application/javascript,E=no-gzip:1]
    RewriteRule \.js\.br$ - [T=application/javascript,E=no-gzip:1]

    <Files *.js.gz>
        # fix content type
        Header set Content-Type "application/javascript; charset=UTF-8"
        AddType "application/javascript" .gz
        AddEncoding gzip .gz
        RemoveLanguage .gz
    </Files>
    <Files *.js.br>
        # fix content type
        Header set Content-Type "application/javascript; charset=UTF-8"
        AddType "application/javascript" .br
        AddEncoding br .br
        RemoveLanguage .br
    </Files>
    <FilesMatch "(\.js\.gz)$">
        # Serve correct encoding type.
        Header set Content-Encoding gzip
        # Force proxies to cache gzipped & non-gzipped js files separately.
        Header append Vary Accept-Encoding
    </FilesMatch>
    <FilesMatch "(\.js\.br)$">
        # Serve correct encoding type.
        Header set Content-Encoding br
        # Force proxies to cache gzipped & non-gzipped js files separately.
        Header append Vary Accept-Encoding
    </FilesMatch>
</IfModule>
