/* stylelint-disable no-duplicate-selectors -- already in 'node_modules/bootstrap/scss/reboot.scss', but we need it */
/* stylelint-disable plugin/selector-bem-pattern -- is common styles, not component */

/* postcss-bem-linter: ignore */
html {
    // https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
    --viewport-height: calc(var(--vh, 1vh) * 100);

    @include media-breakpoint-down(ss) {
        /* stylelint-disable-next-line declaration-property-unit-allowed-list -- foor root not allowed px */
        font-size: 14px;
    }

    @include media-breakpoint-up(hd) {
        $font-size-min: 16px;
        $font-size-max: 20px;
        $font-size-clamp: fluid-clamp(
            $font-size-min,
            $font-size-max,
            map-get($grid-breakpoints, "hd"),
            map-get($grid-breakpoints, "qhd")
        );

        /* stylelint-disable-next-line declaration-property-unit-allowed-list -- for root not allowed px */
        font-size: (($font-size-max - $font-size-min) * .5);

        @supports (font-size: $font-size-clamp) {
            /* stylelint-disable-next-line plugin/no-unsupported-browser-features, csstree/validator -- not standart feature */
            font-size: $font-size-clamp;
        }
    }
}

/* postcss-bem-linter: ignore */
body {
    min-height: 100vh;

    text-rendering: optimizespeed;

    @supports (-webkit-touch-callout: none) {
        /* stylelint-disable-next-line value-no-vendor-prefix, plugin/no-unsupported-browser-features, csstree/validator -- iOS problem with 100vh */
        min-height: -webkit-fill-available;
    }
}

/* stylelint-enable plugin/selector-bem-pattern */
/* stylelint-enable no-duplicate-selectors */
