/* stylelint-disable no-duplicate-selectors */
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;

    text-rendering: optimizeSpeed;

    @supports (-webkit-touch-callout: none) {
        /* stylelint-disable-next-line  value-no-vendor-prefix, plugin/no-unsupported-browser-features, csstree/validator */
        min-height: -webkit-fill-available;
    }
}

/* stylelint-enable no-duplicate-selectors */
