/* stylelint-disable no-duplicate-selectors -- already in 'node_modules/bootstrap/scss/reboot.scss', but we need it */
/* stylelint-disable plugin/selector-bem-pattern -- is common styles, not component */

/* postcss-bem-linter: ignore */
html {
    --viewport-height: calc(var(--vh, 1vh) * 100); // https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
    --section-height: 100vh;
    background: $body-bg;

    @include vertical-breakpoint-down(sm) {
        --section-height: #{map-get($vertical-breakpoints, "sm")};
    }

    @include media-breakpoint-down(ss) {
        /* stylelint-disable-next-line declaration-property-unit-allowed-list -- for root allowed only px */
        font-size: 14px;
    }

    @include media-breakpoint-up(hd) {
        $root-font-size-min: 16px;
        $root-font-size-max: 20px;
        $root-font-size-clamp: fluid-clamp(
            $root-font-size-min,
            $root-font-size-max,
            map-get($grid-breakpoints, "hd"),
            map-get($grid-breakpoints, "qhd")
        );

        /* stylelint-disable-next-line declaration-property-unit-allowed-list -- for root allowed only px */
        font-size: (($root-font-size-max + $root-font-size-min) * .5);

        @supports (font-size: $root-font-size-clamp) {
            /* stylelint-disable-next-line plugin/no-unsupported-browser-features, csstree/validator -- not standart feature */
            font-size: $root-font-size-clamp;
        }
    }
}

/* postcss-bem-linter: ignore */
body {
    min-height: 100vh;

    text-rendering: optimizespeed;

    @supports (-webkit-touch-callout: none) {
        /* stylelint-disable-next-line value-no-vendor-prefix, plugin/no-unsupported-browser-features, csstree/validator -- iOS problem with 100vh */
        min-height: -webkit-fill-available;
    }
}

/* stylelint-enable plugin/selector-bem-pattern */
/* stylelint-enable no-duplicate-selectors */
