{
    "root": true,
    "parser": "babel-eslint",
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "jquery": true
    },
    "plugins": [
        "import"
    ],
    "rules": {
        "no-console": "off",
        "no-param-reassign": [2, {
            "props": false 
        }],
        "unicode-bom": ["warn", "never"],
        "max-len": ["warn", 120, 4],
        "indent": ["warn", 4],
        "max-lines": ["warn", {
            "max": 300, 
            "skipBlankLines": true
        }],
        "linebreak-style": "off"
    }
}