# Build dir
build

# Webpack dev-server hot-update
build/js/*.hot-update.*

# VisualStudioCode
.vscode

# Node.js modules
node_modules

# WebStorm project files
.idea

# NetBeans project files
nbproject

# Zend Studio for eclipse project files
.buildpath
.project
.settings

# Windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# Yii2 thumbs
build/**/*/thumbs/*

# Package hash
package-lock.hash
