# Build dir
build/fonts
build/img
build/js
build/*.js
build/*.json
build/css
build/upload
build/**/*.html
build/humans.txt

# Webpack dev-server hot-update
build/js/*.hot-update.*

# VisualStudioCode
.vscode

# Node.js modules
node_modules

# WebStorm project files
.idea

# NetBeans project files
nbproject

# Zend Studio for eclipse project files
.buildpath
.project
.settings

# Windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# Uii2 thumbs
build/**/*/thumbs/*

# Package hash
package-lock.hash
