# build dir
build/fonts
build/img
build/js
build/*.js
build/*.json
build/css
build/upload
build/**/*.html
build/humans.txt

# VisualStudioCode
.vscode

# Node.js modules
node_modules

# WebStorm project files
.idea

# NetBeans project files
nbproject

# Zend Studio for eclipse project files
.buildpath
.project
.settings

# Windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# yii2 thumbs
build/**/*/thumbs/*

# package hash
package-lock.hash
