{
    "extends": "stylelint-config-sass-guidelines",
    "plugins": [
        "stylelint-no-unsupported-browser-features",
        "stylelint-selector-bem-pattern",
        "stylelint-scss"
    ],
    "rules": {
        "indentation": 4,
        "selector-class-pattern": [
            "^[a-z0-9\\-_]+$"
        ],
        "max-nesting-depth": 3,
        "scss/at-else-closing-brace-newline-after": "always-last-in-chain",
        "scss/at-else-closing-brace-space-after": "always-intermediate",
        "scss/at-else-empty-line-before": "never",
        "scss/at-if-closing-brace-newline-after": "always-last-in-chain",
        "scss/at-if-closing-brace-space-after": "always-intermediate",
        "scss/at-import-no-partial-leading-underscore": true,
        "scss/at-mixin-argumentless-call-parentheses": "always",
        "scss/selector-no-redundant-nesting-selector": true,
        "plugin/selector-bem-pattern": {
            "preset": "bem"
        },
        "plugin/no-unsupported-browser-features": [true, {
            "severity": "warning",
            "ignore": ["rem", "outline", "pointer-events", "background-img-opts", "font-unicode-range", "will-change", "object-fit", "viewport-units", "user-select"]
        }]
    }
}
