{
    "extends": "stylelint-config-sass-guidelines",
    "plugins": [
        "stylelint-selector-bem-pattern"
    ],
    "rules": {
        "indentation": 4,
        "plugin/selector-bem-pattern": {
            "preset": "bem"
        }
    }
}
