{
    "extends": [
        "stylelint-config-sass-guidelines",
        "stylelint-config-rational-order"
    ],
     "plugins": [
        "stylelint-performance-animation",
        "stylelint-no-unsupported-browser-features",
        "stylelint-scss"
    ],
    "rules": {
        "indentation": 4,
        "selector-class-pattern": [
            "^[a-z0-9\\-_]+$"
        ],
        "max-nesting-depth": 4,
        "selector-max-compound-selectors": 4,
        "scss/at-else-closing-brace-newline-after": "always-last-in-chain",
        "scss/at-else-closing-brace-space-after": "always-intermediate",
        "scss/at-else-empty-line-before": "never",
        "scss/at-if-closing-brace-newline-after": "always-last-in-chain",
        "scss/at-if-closing-brace-space-after": "always-intermediate",
        "scss/at-import-no-partial-leading-underscore": true,
        "scss/at-mixin-argumentless-call-parentheses": "always",
        "scss/selector-no-redundant-nesting-selector": true,
        "order/properties-alphabetical-order": false,
        "property-no-unknown": [true, {
            "ignoreProperties": [
                "font-range", "min-font-size", "max-font-size", "lower-font-range", "upper-font-range",
                "line-height-range", "min-line-height", "max-line-height", "lower-line-height-range", "upper-line-height-range",
                "letter-spacing-range", "min-letter-spacing", "max-letter-spacing", "letter-spacing-range", "letter-spacing-range"
            ],
        }],
        "selector-pseudo-element-no-unknown": [true, {
            "ignorePseudoElements": [
                "at-least", "at-most", "between", "exactly",
                "track", "thumb"
            ]
        }],
        "selector-no-qualifying-type": [true, {
            "ignore": ["attribute", "class", "id"]
        }],
        "plugin/no-low-performance-animation": [true, {
            "severity": "warning",
            "ignore": ["opacity", "transform", "color", "background", "background-position", "background-color", "border-color"]
        }],
        "plugin/no-unsupported-browser-features": [true, {
            "severity": "warning",
            "ignore": ["rem", "flexbox", "viewport-units", "font-unicode-range", "multicolumn", "outline", "will-change"]
        }]
    }
}
