$ease-in-quad: cubic-bezier(.55, .085, .68, .53) !default;
$ease-in-cubic: cubic-bezier(.55, .055, .675, .19) !default;
$ease-in-quart: cubic-bezier(.895, .03, .685, .22) !default;
$ease-in-quint: cubic-bezier(.755, .05, .855, .06) !default;
$ease-in-expo: cubic-bezier(.95, .05, .795, .035) !default;
$ease-in-circ: cubic-bezier(.6, .04, .98, .335) !default;
$ease-out-quad: cubic-bezier(.25, .46, .45, .94) !default;
$ease-out-cubic: cubic-bezier(.215, .61, .355, 1) !default;
$ease-out-quart: cubic-bezier(.165, .84, .44, 1) !default;
$ease-out-quint: cubic-bezier(.23, 1, .32, 1) !default;
$ease-out-expo: cubic-bezier(.19, 1, .22, 1) !default;
$ease-out-circ: cubic-bezier(.075, .82, .165, 1) !default;
$ease-in-out-quad: cubic-bezier(.455, .03, .515, .955) !default;
$ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1) !default;
$ease-in-out-quart: cubic-bezier(.77, 0, .175, 1) !default;
$ease-in-out-quint: cubic-bezier(.86, 0, .07, 1) !default;
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1) !default;
$ease-in-out-circ: cubic-bezier(.785, .135, .15, .86) !default;

:root {
    --ease-in-quad: #{$ease-in-quad};
    --ease-in-cubic: #{$ease-in-cubic};
    --ease-in-quart: #{$ease-in-quart};
    --ease-in-quint: #{$ease-in-quint};
    --ease-in-expo: #{$ease-in-expo};
    --ease-in-circ: #{$ease-in-circ};
    --ease-out-quad: #{$ease-out-quad};
    --ease-out-cubic: #{$ease-out-cubic};
    --ease-out-quart: #{$ease-out-quart};
    --ease-out-quint: #{$ease-out-quint};
    --ease-out-expo: #{$ease-out-expo};
    --ease-out-circ: #{$ease-out-circ};
    --ease-in-out-quad: #{$ease-in-out-quad};
    --ease-in-out-cubic: #{$ease-in-out-cubi};
    --ease-in-out-quart: #{$ease-in-out-quart};
    --ease-in-out-quint: #{$ease-in-out-quint};
    --ease-in-out-expo: #{$ease-in-out-expo};
    --ease-in-out-circ: #{$ease-in-out-circ};
}
