.intersection {
    html.js & {
        opacity: var(--intersection-fade, 1);

        transition:
            opacity var(--intersection-duration-fade, $duration-default),
            transform var(--intersection-duration-translate, $duration-default);
        transition-delay: $intersection-transition-delay;
        transition-timing-function: $ease-default;

        transform:
            translate3d(
                var(--intersection-translate-x, 0),
                var(--intersection-translate-y, 0),
                var(--intersection-translate-z, 0)
            ) scale(var(--intersection-scale, 1)) rotate(var(--intersection-rotate, 0));
    }

    &.is-intersecting {
        html.js.is-page-transition-ready & {
            opacity: 1;

            transform: none;
        }
    }

    &__duration-slow {
        --intersection-duration-fade: #{$duration-slow};
        --intersection-duration-translate: #{$duration-slow};
    }

    &__duration-normal {
        --intersection-duration-fade: #{$duration-normal};
        --intersection-duration-translate: #{$duration-normal};
    }

    &__duration-fast {
        --intersection-duration-fade: #{$duration-fast};
        --intersection-duration-translate: #{$duration-fast};
    }

    &__fade {
        --intersection-fade: 0;
    }

    &__up {
        --intersection-translate-y-up: 0;
        --intersection-translate-y: var(--intersection-translate-y-up, 0);

        &.is-intersection-downward {
            --intersection-translate-y-up: 100%;
        }

        &.is-intersection-upward {
            --intersection-translate-y-up: -100%;
        }
    }

    &__down {
        --intersection-translate-y-down: 0;
        --intersection-translate-y: var(--intersection-translate-y-down, 0);

        &.is-intersection-downward {
            --intersection-translate-y-down: -100%;
        }

        &.is-intersection-upward {
            --intersection-translate-y-down: 100%;
        }
    }

    &__scale {
        --intersection-scale: 1.15;
    }

    &__scale-in {
        --intersection-scale-in: .85;
        --intersection-scale: var(--intersection-scale-in, 0);
    }

    &__fade-up {
        @extend .intersection__fade;
        @extend .intersection__up;
    }

    &__fade-down {
        @extend .intersection__fade;
        @extend .intersection__down;
    }

    &__scale-up {
        @extend .intersection__scale;
        @extend .intersection__up;
    }

    &__scale-down {
        @extend .intersection__scale;
        @extend .intersection__down;
    }

    &__scale-in-up {
        @extend .intersection__scale-in;
        @extend .intersection__up;
    }

    &__scale-in-down {
        @extend .intersection__scale-in;
        @extend .intersection__down;
    }
}
