//
// Intersection component. Details in `intersection-test.html`.
//

.intersection {
    $intersection-translate-y-base: 50% !default;

    $intersection-scale-base: 1.15 !default;
    $intersection-scale-in-base: 0.85 !default;

    $intersection-duration-fade-default: $duration-normal !default;
    $intersection-duration-translate-default: $duration-normal !default;

    $intersection-duration-fade-slow: $duration-slow !default;
    $intersection-duration-translate-slow: $duration-slow !default;

    $intersection-duration-fade-normal: $duration-normal !default;
    $intersection-duration-translate-normal: $duration-normal !default;

    $intersection-duration-fade-fast: $duration-fast !default;
    $intersection-duration-translate-fast: $duration-fast !default;

    html.js & {
        &--block,
        > .intersection__block {
            $intersection-translate: translate3d(var(--intersection-translate-x, 0), var(--intersection-translate-y, 0), var(--intersection-translate-z, 0));
            $intersection-scale: scale(var(--intersection-scale, 1));
            $intersection-rotate: rotate(var(--intersection-rotate, 0));

            opacity: var(--intersection-fade, 1);
            transform: $intersection-translate $intersection-scale $intersection-rotate;

            will-change: transform, opacity;

            transition:
                opacity var(--intersection-duration-fade, #{$intersection-duration-fade-default}),
                transform var(--intersection-duration-translate, #{$intersection-duration-translate-default});
            transition-delay: $intersection-transition-delay;
            transition-timing-function: $ease-default;
        }
    }

    &.is-intersecting {
        &.intersection--block,
        > .intersection__block {
            html.js.is-page-transition-ready & {
                opacity: 1;
                transform: none;
            }
        }
    }

    &--duration-slow {
        --intersection-duration-fade: #{$intersection-duration-fade-slow};
        --intersection-duration-translate: #{$intersection-duration-translate-slow};
    }

    &--duration-normal {
        --intersection-duration-fade: #{$intersection-duration-fade-normal};
        --intersection-duration-translate: #{$intersection-duration-translate-normal};
    }

    &--duration-fast {
        --intersection-duration-fade: #{$intersection-duration-fade-fast};
        --intersection-duration-translate: #{$intersection-duration-translate-fast};
    }

    &--fade {
        --intersection-fade: 0;
    }

    &--up {
        --intersection-translate-y-up: 0;
        --intersection-translate-y: var(--intersection-translate-y-up, 0);

        &.is-intersection-downward {
            --intersection-translate-y-up: var(--intersection-translate-y-base, #{$intersection-translate-y-base});
        }

        &.is-intersection-upward {
            --intersection-translate-y-up: calc(var(--intersection-translate-y-base, #{$intersection-translate-y-base}) * -1);
        }
    }

    &--down {
        --intersection-translate-y-down: 0;
        --intersection-translate-y: var(--intersection-translate-y-down, 0);

        &.is-intersection-downward {
            --intersection-translate-y-down: calc(var(--intersection-translate-y-base, #{$intersection-translate-y-base}) * -1);
        }

        &.is-intersection-upward {
            --intersection-translate-y-down: var(--intersection-translate-y-base, #{$intersection-translate-y-base});
        }
    }

    &--scale {
        --intersection-scale: #{$intersection-scale-base};
    }

    &--scale-in {
        --intersection-scale: #{$intersection-scale-in-base};
    }

    &--fade-up {
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- variant of two modificators */
        @extend .intersection--fade;
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- variant of two modificators */
        @extend .intersection--up;
    }

    &--fade-down {
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- variant of two modificators */
        @extend .intersection--fade;
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- variant of two modificators */
        @extend .intersection--down;
    }

    &--scale-up {
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- variant of two modificators */
        @extend .intersection--scale;
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- variant of two modificators */
        @extend .intersection--up;
    }

    &--scale-down {
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- variant of two modificators */
        @extend .intersection--scale;
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- variant of two modificators */
        @extend .intersection--down;
    }

    &--scale-in-up {
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- variant of two modificators */
        @extend .intersection--scale-in;
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- variant of two modificators */
        @extend .intersection--up;
    }

    &--scale-in-down {
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- variant of two modificators */
        @extend .intersection--scale-in;
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- variant of two modificators */
        @extend .intersection--down;
    }
}
