.intersection {
    html.js & {
        opacity: var(--intersection-fade, 1);

        transition: opacity $duration-default, transform $duration-default;
        transition-delay: $intersection-transition-delay;
        transition-timing-function: $ease-default;

        transform:
            translate(
                var(--intersection-translate-x, 0),
                var(--intersection-translate-y, 0)
            ) scale(var(--intersection-scale, 1));
    }

    &.is-intersecting {
        html.js.is-page-transition-ready & {
            opacity: 1;

            transform: translate(0, 0) scale(1);
        }
    }

    &__fade {
        --intersection-fade: 0;
    }

    &__fade-up {
        --intersection-fade: 0;
        --intersection-translate-y: 100%;

        &.is-intersection-downward {
            --intersection-translate-y: 100%;
        }

        &.is-intersection-upward {
            --intersection-translate-y: -100%;
        }
    }

    &__fade-down {
        --intersection-fade: 0;
        --intersection-translate-y: -100%;

        &.is-intersection-downward {
            --intersection-translate-y: -100%;
        }

        &.is-intersection-upward {
            --intersection-translate-y: 100%;
        }
    }

    &__scale {
        --intersection-scale: 1.1;
    }

    &__scale-fade {
        --intersection-scale: 1.1;
        --intersection-fade: 0;
    }
}
