$pitcherLogo-color: $link-color !default;

$pitcherLogo-hover-color: $link-hover-color !default;

.pitcherLogo {
    display: inline-block;

    color: #{$pitcherLogo-color};

    .pitcherLogo-text {
        @include sr-only();
    }

    .pitcherLogo-image {

        display: inline-block;
        width: 58px;
        height: 51px;

        --fill-color: #{$pitcherLogo-color};
    }

    &:hover,
    &:focus,
    &:active {
        color: #{$pitcherLogo-hover-color};

        .pitcherLogo-image {
            --fill-color: #{$pitcherLogo-hover-color};
        }
    }
}
