//
// Customize scrollbar.
//

/* stylelint-disable no-duplicate-selectors -- already in components, but we need it */
/* stylelint-disable plugin/selector-bem-pattern -- scrollbar is not component */

* {
    --scrollbar-size: #{$scrollbar-size};
    --scrollbar-bg: #{$scrollbar-bg};
    --scrollbar-thumb-bg: #{$scrollbar-thumb-bg};
    --scrollbar-thumb-border: #{$scrollbar-thumb-border};
    --scrollbar-track-bg: #{$scrollbar-track-bg};

    @supports (scrollbar-width: thin) {
        /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- checked on @supports */
        scrollbar-width: thin;
        /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- checked on @supports */
        scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-bg);
    }
    @supports selector(*::-webkit-scrollbar) {
        /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- checked on @supports */
        scrollbar-width: revert;
        /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- checked on @supports */
        scrollbar-color: revert;
    }

    /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- its ok for custom scrollbar */
    &::-webkit-scrollbar {
        width: var(--scrollbar-size);
        height: var(--scrollbar-size);
    }

    /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- its ok for custom scrollbar */
    &::-webkit-scrollbar-track {
        background: var(--scrollbar-track-bg);
    }

    /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- its ok for custom scrollbar */
    &::-webkit-scrollbar-thumb {
        border: var(--scrollbar-thumb-border);
        border-radius: var(--scrollbar-size);

        background: var(--scrollbar-thumb-bg);
    }
}

@mixin hidden-scrollbar() {
    --scrollbar-size: 0 !important;

    @supports (scrollbar-width: none) {
        /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- its ok for custom scrollbar */
        scrollbar-width: none !important;
    }

    /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- its ok for custom scrollbar */
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        display: none !important;
    }
}

.hidden-scrollbar {
    @include hidden-scrollbar();
}

/* stylelint-enable plugin/selector-bem-pattern */
/* stylelint-enable no-duplicate-selectors */
