.subheading {
    display: $subheadings-display;

    color: $subheadings-color;
    font-weight: $subheadings-font-weight;
    /* stylelint-disable-next-line declaration-property-unit-allowed-list -- subheading as relative font-size */
    font-size: $subheadings-font-size;
    font-family: $subheadings-font-family;
    font-style: $subheadings-font-style;
    line-height: $subheadings-line-height;
}
