/* stylelint-disable property-no-vendor-prefix */
@mixin no-autofill($background-color: "#fff") {
    &:-webkit-autofill {
        /* stylelint-disable-next-line declaration-no-important */
        -webkit-box-shadow: 0 0 0 9999px $background-color !important;
    }
}

@mixin autofill($color, $background-color) {
    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 9999px $background-color inset;
        /* stylelint-disable-next-line declaration-no-important */
        -webkit-text-fill-color: $color !important;
    }
}

@mixin bg-autofill($background-color) {
    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 9999px $background-color inset;
    }
}

@mixin color-autofill($color) {
    &:-webkit-autofill {
        /* stylelint-disable-next-line declaration-no-important */
        -webkit-text-fill-color: $color !important;
    }
}

@mixin hover-autofill($color, $background-color) {
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        /* stylelint-disable-next-line declaration-no-important */
        -webkit-box-shadow: 0 0 0 9999px $background-color inset !important;
        /* stylelint-disable-next-line declaration-no-important */
        -webkit-text-fill-color: $color !important;
    }
}

@mixin hover-bg-autofill($background-color) {
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        /* stylelint-disable-next-line declaration-no-important */
        -webkit-box-shadow: 0 0 0 9999px $background-color inset !important;
    }
}

@mixin hover-color-autofill($color) {
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        /* stylelint-disable-next-line declaration-no-important */
        -webkit-text-fill-color: $color !important;
    }
}
/* stylelint-enable */
