// Debug helper
@if $NODE_ENV != "production" or $DEBUG {
    body::after {
        background-color: $danger;
        bottom: 0;
        color: $white;
        content: "Only visible $NODE_ENV=#{$NODE_ENV} or DEBUG=#{$DEBUG}";
        font-size: $font-size-sm;
        line-height: 1rem;
        margin-bottom: -1rem;
        opacity: .8;
        position: fixed;
        right: 0;
        transition: .6s;
        white-space: nowrap;
        z-index: $zindex-modal;

        html:hover & {
            margin-bottom: 0;
        }
    }
}

// Debug helper
@if $PACKAGE_NAME == "Intecmedia.Webpack" {
    body::after {
        background-color: $danger;
        bottom: 0;
        color: $white;
        content: "Please rename the `name` in `package.json` file";
        font-size: $font-size-sm;
        line-height: 1rem;
        margin-bottom: -1rem;
        opacity: .8;
        position: fixed;
        right: 0;
        transition: .6s;
        white-space: nowrap;
        z-index: $zindex-modal;

        html:hover & {
            margin-bottom: 0;
        }
    }
}
