@use "sass:math";

$fluid-steps-negative-count: 2 !default;
$fluid-steps-positive-count: 5 !default;

$fluid-steps-min-width: 375px !default;
$fluid-steps-min-size: 16px !default;
$fluid-steps-min-scale: 1.2 !default;

$fluid-steps-max-width: 1920px !default;
$fluid-steps-max-size: 20px !default;
$fluid-steps-max-scale: 1.25 !default;

@mixin fluid-steps(
    $negative-count: $fluid-steps-negative-count,
    $positive-count: $fluid-steps-positive-count,
    $min-width: $fluid-steps-min-width,
    $min-size: $fluid-steps-min-size,
    $min-scale: $fluid-steps-min-scale,
    $max-width: $fluid-steps-max-width,
    $max-size: $fluid-steps-max-size,
    $max-scale: $fluid-steps-max-scale
) {
    @for $i from $negative-count through 1 {
        $min: $min-size * math.pow($min-scale, -$i);
        $max: $max-size * math.pow($max-scale, -$i);
        /* Step: -#{$i}: #{to-fixed($min, 2)} -> #{to-fixed($max, 2)} */
        @include fluid-clamp-prop(--fluid-step-n#{$i}, rem($min), rem($max), $min-width, $max-width);
    }

    @for $i from 0 through $positive-count {
        $min: $min-size * math.pow($min-scale, $i);
        $max: $max-size * math.pow($max-scale, $i);
        /* Step: #{$i}: #{to-fixed($min, 2)} -> #{to-fixed($max, 2)} */
        @include fluid-clamp-prop(--fluid-step-#{$i}, rem($min), rem($max), $min-width, $max-width);
    }
}

@function fluid-steps-min(
    $index,
    $negative-count: $fluid-steps-negative-count,
    $positive-count: $fluid-steps-positive-count,
    $min-width: $fluid-steps-min-width,
    $min-size: $fluid-steps-min-size,
    $min-scale: $fluid-steps-min-scale,
    $max-width: $fluid-steps-max-width,
    $max-size: $fluid-steps-max-size,
    $max-scale: $fluid-steps-max-scale
) {
    $min: $min-size * math.pow($min-scale, $index);

    @return $min;
}

@function fluid-steps-max(
    $index,
    $negative-count: $fluid-steps-negative-count,
    $positive-count: $fluid-steps-positive-count,
    $min-width: $fluid-steps-min-width,
    $min-size: $fluid-steps-min-size,
    $min-scale: $fluid-steps-min-scale,
    $max-width: $fluid-steps-max-width,
    $max-size: $fluid-steps-max-size,
    $max-scale: $fluid-steps-max-scale
) {
    $max: $max-size * math.pow($max-scale, $index);

    @return $max;
}
