@use "sass:math";

$fluid-min-width: 420px !default;
$fluid-max-width: 1280px !default;

$fluid-min-height: 320px !default;
$fluid-max-height: 1024px !default;

@mixin fluid-property(
    $properties,
    $min-value, $max-value,
    $min-width: $fluid-min-width, $max-width: $fluid-max-width,
    $min-width-calc: $min-width, $max-width-calc: $max-width,
) {
    @each $property in $properties {
        #{$property}: $min-value;
    }

    @if (
        not unitless($min-value) and (
            unit($min-value) != unit($min-width-calc) or
            not comparable($min-value, $min-width-calc)
        )
    ) {
        @error "Cant calc $min-value=#{$min-value} and $min-width-calc=#{$min-width-calc} with different units.";
    }

    @if (
        not unitless($max-value) and (
            unit($max-value) != unit($max-width-calc) or
            not comparable($max-value, $max-width-calc)
        )
    ) {
        @error "Cant calc $max-value=#{$max-value} and $max-width-calc=#{$max-width-calc} with different units.";
    }

    $value-calc: strip-unit($max-value - $min-value);
    $width-calc: strip-unit($max-width-calc - $min-width-calc);

    @media (min-width: $min-width) {
        @each $property in $properties {
            #{$property}: calc(#{$min-value} + #{$value-calc} * (100vw - #{$min-width-calc}) / #{$width-calc});
        }
    }

    @media (min-width: $max-width) {
        @each $property in $properties {
            #{$property}: $max-value;
        }
    }
}

@mixin fluid-property-vertical(
    $properties,
    $min-value, $max-value,
    $min-height: $fluid-min-height, $max-height: $fluid-max-height,
    $min-height-calc: $min-height, $max-height-calc: $max-height,
) {
    @each $property in $properties {
        #{$property}: $min-value;
    }

    @if (
        not unitless($min-value) and (
            unit($min-value) != unit($min-height-calc) or
            not comparable($min-value, $min-height-calc)
        )
    ) {
        @error "Cant calc $min-value=#{$min-value} and $min-height-calc=#{$min-height-calc} with different units.";
    }

    @if (
        not unitless($max-value) and (
            unit($max-value) != unit($max-height-calc) or
            not comparable($max-value, $max-height-calc)
        )
    ) {
        @error "Cant calc $max-value=#{$max-value} and $max-height-calc=#{$max-height-calc} with different units.";
    }

    $value-calc: strip-unit($max-value - $min-value);
    $height-calc: strip-unit($max-height-calc - $min-height-calc);

    @media (min-height: $min-height) {
        @each $property in $properties {
            #{$property}: calc(#{$min-value} + #{$value-calc} * (100vh - #{$min-height-calc}) / #{$height-calc});
        }
    }

    @media (min-height: $max-height) {
        @each $property in $properties {
            #{$property}: $max-value;
        }
    }
}

@mixin fluid-font-size(
    $min-value, $max-value,
    $min-width: $fluid-min-width, $max-width: $fluid-max-width,
    $min-width-calc: $min-width, $max-width-calc: $max-width,
) {
    @include fluid-property(
        font-size,
        $min-value, $max-value,
        $min-width, $max-width,
        $min-width-calc, $max-width-calc,
    );
}

@mixin fluid-font-size-rem(
    $min-value, $max-value,
    $min-width: $fluid-min-width, $max-width: $fluid-max-width,
    $min-width-calc: $min-width, $max-width-calc: $max-width,
) {
    @include fluid-property(
        font-size,
        rem($min-value), rem($max-value),
        $min-width, $max-width,
        rem($min-width-calc), rem($max-width-calc),
    );
}

@mixin fluid-font-size-vertical(
    $min-value, $max-value,
    $min-height: $fluid-min-height, $max-height: $fluid-max-height,
    $min-height-calc: $min-height, $max-height-calc: $max-height,
) {
    @include fluid-property-vertical(
        font-size,
        $min-value, $max-value,
        $min-height, $max-height,
        $min-height-calc, $max-height-calc,
    );
}

@mixin fluid-font-size-vertical-rem(
    $min-value, $max-value,
    $min-height: $fluid-min-height, $max-height: $fluid-max-height,
    $min-height-calc: $min-height, $max-height-calc: $max-height,
) {
    @include fluid-property-vertical(
        font-size,
        rem($min-value), rem($max-value),
        $min-height, $max-height,
        rem($min-height-calc), rem($max-height-calc),
    );
}

@function fluid-clamp-base(
    $min-size, $max-size,
    $min-clamp, $max-clamp,
    $vertical: false,
) {
    $min-unit: unit($min-size);

    @if $min-unit != px and $min-unit != rem {
        @error "$min-size #{$min-size} must be either px or rem (now is #{$min-unit}).";
    }
    $min-size: rem($min-size);
    $min-size: strip-unit($min-size);

    $max-unit: unit($max-size);

    @if $max-unit != px and $max-unit != rem {
        @error "$max-size #{$max-size} must be either px or rem (now is #{$max-unit}).";
    }
    $max-size: rem($max-size);
    $max-size: strip-unit($max-size);

    @if unit($max-clamp) != px {
        @error "$max-clamp #{$max-clamp} must be px (now is #{unit($min-clamp)}).";
    }
    $min-clamp: strip-unit($min-clamp);

    @if unit($max-clamp) != px {
        @error "$max-clamp #{$max-clamp} must be px (now is #{unit($max-clamp)}).";
    }
    $max-clamp: strip-unit($max-clamp);

    $sub-size: ($max-size - $min-size);
    $sub-clamp: ($max-clamp - $min-clamp);

    $vp-value: math.div(16 * 100 * $sub-size, $sub-clamp);
    $vp-value: to-fixed($vp-value, 4);

    $value: $min-size - math.div($min-clamp * $sub-size, $sub-clamp);
    $value: to-fixed($value, 4);

    $sign: "";

    @if ($value >= 0) {
        $sign: "+";
    } @else {
        $sign: "-";
    }

    $abs-value: abs($value);

    $vp-unit: "";

    @if ($vertical) {
        $vp-unit: "vh";
    } @else {
        $vp-unit: "vw";
    }

    @if $min-unit == rem and $max-unit == rem {
        @return clamp(#{$min-size}rem, #{$vp-value}#{$vp-unit} #{$sign} #{$abs-value}rem, #{$max-size}rem);
    }

    @if $min-unit == px and $max-unit == px {
        @return clamp(#{$min-size * 16}px, #{$vp-value}#{$vp-unit} #{$sign} #{$abs-value * 16}px, #{$max-size * 16}px);
    }

    @error "Cant calc $min-size=#{$min-size} and $max-size=#{$max-size} with different units.";
}

@function fluid-clamp(
    $min-size, $max-size,
    $min-width: $fluid-min-width, $max-width: $fluid-max-width,
) {
    @return fluid-clamp-base(
        $min-size, $max-size,
        $min-width, $max-width,
        false,
    );
}

@function fluid-clamp-vertical(
    $min-size, $max-size,
    $min-width: $fluid-min-width, $max-width: $fluid-max-width,
) {
    @return fluid-clamp-base(
        $min-size, $max-size,
        $min-width, $max-width,
        true,
    );
}

@mixin fluid-clamp-font-size(
    $min-size, $max-size,
    $min-width: $fluid-min-width, $max-width: $fluid-max-width,
) {
    $font-size-clamp: fluid-clamp(
        $min-size,
        $max-size,
        $min-width,
        $max-width,
    );

    font-size: $min-size;

    @supports (font-size: $font-size-clamp) {
        /* stylelint-disable-next-line plugin/no-unsupported-browser-features, csstree/validator -- not standart feature */
        font-size: $font-size-clamp;
    }
}

@mixin fluid-clamp-font-size-vertical(
    $min-size, $max-size,
    $min-height: $fluid-min-height, $max-height: $fluid-max-height,
) {
    $font-size-clamp: fluid-clamp-vertical(
        $min-size,
        $max-size,
        $min-height,
        $max-height,
    );

    font-size: $min-size;

    @supports (font-size: $font-size-clamp) {
        /* stylelint-disable-next-line plugin/no-unsupported-browser-features, csstree/validator -- not standart feature */
        font-size: $font-size-clamp;
    }
}
