@use "sass:math";

@function strip-unit($number) {
    @if type-of($number) == "number" and not unitless($number) {
        @return math.div($number, ($number * 0 + 1));
    }

    @return $number;
}

@function pow($x, $n) {
    $ret: 1;
    @if $n >= 0 {
        @for $i from 1 through $n {
            $ret: $ret * $x;
        }
    } @else {
        @for $i from $n to 0 {
            $ret: math.div($ret, $x);
        }
    }
    @return $ret;
}

@function to-fixed($float, $digits: 2) {
    $sass-precision: 5;
    $pow: pow(10, $digits);
    @return math.div(round($float * $pow), $pow);
}

