/* stylelint-disable plugin/no-unsupported-browser-features -- wrong error */

$resize-quality: 85 !default;
$resize-avif-quality: 50 !default;
$resize-breakpoints: $grid-breakpoints !default;

@mixin background-image($url, $quality: $resize-quality, $avif-quality: $resize-avif-quality) {
    background-image: url("#{$url}");

    @if $NODE_ENV != "production" or $DEBUG {
        /* postcss.webp: ignore */
        html.webp & {
            background-image: url("#{$url}?resize=x&quality=#{$quality}&format=webp");
        }

        /* postcss.avif: ignore */
        html.avif & {
            background-image: url("#{$url}?resize=x&quality=#{$avif-quality}&format=avif");
        }
    }
}

@mixin breakpoints-background-image($url, $breakpoints: $resize-breakpoints, $quality: $resize-quality, $avif-quality: $resize-avif-quality) {

    @each $breakpoint in map-keys($breakpoints) {
        $infix: breakpoint-infix($breakpoint, $breakpoints);
        @include media-breakpoint-only($infix) {
            background-image: url("#{$url}?resize=#{breakpoint}x&quality=#{$quality}&format=jpg&suffix=#{$infix}");
        }
    }


    @if $NODE_ENV != "production" or $DEBUG {
        /* postcss.webp: ignore */
        html.webp & {
            @each $breakpoint in map-keys($breakpoints) {
                $infix: breakpoint-infix($breakpoint, $breakpoints);
                @include media-breakpoint-only($infix) {
                    background-image: url("#{$url}?resize=#{breakpoint}x&quality=#{$quality}&format=webp&suffix=#{$infix}");
                }
            }
        }

        /* postcss.avif: ignore */
        html.avif & {
            @each $breakpoint in map-keys($breakpoints) {
                $infix: breakpoint-infix($breakpoint, $breakpoints);
                @include media-breakpoint-only($infix) {
                    background-image: url("#{$url}?resize=#{breakpoint}x&quality=#{$avif-quality}&format=avif&suffix=#{$infix}");
                }
            }
        }
    }
}

/* stylelint-enable plugin/no-unsupported-browser-features */
