/* stylelint-disable plugin/no-unsupported-browser-features -- wrong error */

$resize-breakpoints: $grid-breakpoints !default;

@mixin background-image($url) {
    background-image: url("#{$url}");

    /* postcss.resize.webp: ignore */

    /* postcss.resize.avif: ignore */

    @if $NODE_ENV == "production" or $DEBUG {
        @if $APP-WEBP {
            html.webp & {
                /* postcss.resize.webp: ignore */
                background-image: url("#{$url}?resize=x&format=webp");
            }
        }

        @if $APP-AVIF {
            html.avif & {
                /* postcss.resize.avif: ignore */
                background-image: url("#{$url}?resize=x&format=avif");
            }
        }
    }
}

@mixin breakpoints-background-image($url, $breakpoints: $resize-breakpoints) {
    /* postcss.resize.webp: ignore */

    /* postcss.resize.avif: ignore */

    @each $breakpoint in map-keys($breakpoints) {
        $size: strip-unit(map-get($breakpoints, $breakpoint));

        @include media-breakpoint-up($breakpoint) {
            /* postcss.resize.webp: ignore */

            /* postcss.resize.avif: ignore */

            background-image: url("#{$url}?resize=#{$size}x&suffix=#{$breakpoint}");
        }
    }

    @if $NODE_ENV == "production" or $DEBUG {
        @if $APP-WEBP {
            html.webp & {
                @each $breakpoint in map-keys($breakpoints) {
                    $size: strip-unit(map-get($breakpoints, $breakpoint));

                    @include media-breakpoint-up($breakpoint) {
                        /* postcss.resize.webp: ignore */
                        background-image: url("#{$url}?resize=#{$size}x&format=webp&suffix=#{$breakpoint}");
                    }
                }
            }
        }

        @if $APP-AVIF {
            html.avif & {
                @each $breakpoint in map-keys($breakpoints) {
                    $size: strip-unit(map-get($breakpoints, $breakpoint));

                    @include media-breakpoint-up($breakpoint) {
                        /* postcss.resize.avif: ignore */
                        background-image: url("#{$url}?resize=#{$size}x&format=avif&suffix=#{$breakpoint}");
                    }
                }
            }
        }
    }
}

/* stylelint-enable plugin/no-unsupported-browser-features */
