@mixin background-image($url, $quality: 85) {
    background-image: url("#{$url}");

    @if $NODE_ENV != "production" or $DEBUG {
        /* postcss.webp: ignore */
        html.webp & {
            background-image: url("#{$url}?resize=x&quality=#{$quality}&format=webp");
        }

        /* postcss.avif: ignore */
        html.avif & {
            background-image: url("#{$url}?resize=x&quality=#{$quality}&format=avif");
        }
    }
}

@mixin breakpoints-background-image($url, $quality: 85, $breakpoints: $grid-breakpoints) {

    @each $breakpoint in map-keys($breakpoints) {
        $infix: breakpoint-infix($breakpoint, $breakpoints);
        @include media-breakpoint-only($infix) {
            background-image: url("#{$url}?resize=#{breakpoint}x&quality=#{$quality}&format=jpg&suffix=#{$infix}");
        }
    }


    @if $NODE_ENV != "production" or $DEBUG {
        /* postcss.webp: ignore */
        html.webp & {
            @each $breakpoint in map-keys($breakpoints) {
                $infix: breakpoint-infix($breakpoint, $breakpoints);
                @include media-breakpoint-only($infix) {
                    background-image: url("#{$url}?resize=#{breakpoint}x&quality=#{$quality}&format=webp&suffix=#{$infix}");
                }
            }
        }

        /* postcss.avif: ignore */
        html.avif & {
            @each $breakpoint in map-keys($breakpoints) {
                $infix: breakpoint-infix($breakpoint, $breakpoints);
                @include media-breakpoint-only($infix) {
                    background-image: url("#{$url}?resize=#{breakpoint}x&quality=#{$quality}&format=avif&suffix=#{$infix}");
                }
            }
        }
    }
}
