<!-- head-js -->
<script>
    (document.documentElement && document.documentElement.className && (function($html) {
        // js test
        $html.className = $html.className.replace('no-js', 'js');
        // webp support test
        var webp = new Image();
        webp.onload = webp.onerror = function() {
            $html.className += (webp.width == 1 && webp.height == 1 ? ' webp' : ' no-webp');
        };
        webp.src = 'data:image/webp;base64,UklGRiQAAABXRUJQVlA4IBgAAAAwAQCdASoBAAEAAwA0JaQAA3AA/vuUAAA=';
        // avif support test
        var avif = new Image();
        avif.onload = avif.onerror = function() {
            $html.className += (avif.width == 1 && avif.height == 1 ? ' avif' : ' no-avif');
        };
        avif.src = [
            'data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZtaWYxbWlhZk1BMUIAAAEcbWV0YQAAAAAAAABIaGRscgAAAAAAAAAAcGljdAAAAAAAAAAA',
            'AAAAAGNhdmlmIC0gaHR0cHM6Ly9naXRodWIuY29tL2xpbmstdS9jYXZpZgAAAAAeaWxvYwAAAAAEQAABAAEAAAAAAUQAAQAAABcAAAAqaWluZgEAAAAAAAA',
            'BAAAAGmluZmUCAAAAAAEAAGF2MDFJbWFnZQAAAAAOcGl0bQAAAAAAAQAAAHJpcHJwAAAAUmlwY28AAAAQcGFzcAAAAAEAAAABAAAAFGlzcGUAAAAAAAAAAQ',
            'AAAAEAAAAQcGl4aQAAAAADCAgIAAAAFmF2MUOBAAwACggYAAYICGgIIAAAABhpcG1hAAAAAAAAAAEAAQUBAoMDhAAAAB9tZGF0CggYAAYICGgIIBoFHiAAA',
            'EQiBACwDoA='
        ].join('');
        // viewport sizes
        var viewportHeight = window.innerHeight;
        $html.style.setProperty('--vh', parseFloat((viewportHeight * 0.01).toFixed()) + 'px');
        // js cookie
        document.cookie = '_js=1; path=/; SameSite=Lax';
    })(document.documentElement));
</script>
<!-- /head-js -->