<meta charset="utf-8">
<title>Intecmedia Webpack</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png">
<meta name="msapplication-TileImage" content="img/ico/apple-touch-icon-144-precomposed.png">
<meta name="msapplication-TileColor" content="#3372DF">
<meta name="theme-color" content="#ccc">
<link rel="shortcut icon" href="img/ico/favicon.png">
-->
<link rel="stylesheet" type="text/css" href="css/app.min.css">
