<!DOCTYPE html>
<html class="no-js" lang="{{ APP.LANGUAGE }}">
<head>
    <meta charset="utf-8">
    <title>{{ PAGE.title }} :: {{ APP.TITLE }}</title>
    <meta name="description" content="{{ PAGE.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if APP.USE_FAVICONS %}
    <link rel="manifest" href="{{ APP.PUBLIC_PATH }}img/favicon/manifest.json">
    {% endif %}
    {% include 'partials/counters-head.html' %}
</head>
<body {% block body_class %}{% endblock %}>

    {% block body %}{% endblock %}

    {% include 'partials/service-worker.html' %}
    {% include 'partials/counters-body.html' %}
</body>
</html>
