{% if APP.USE_SERVICE_WORKER %}
    <!-- service-worker -->
    <script>
        var SERVICE_WORKER_HASH = {{ APP.SERVICE_WORKER_HASH() | dump | safe }};
        if (!SERVICE_WORKER_HASH) {
            throw new Error('[sw-precache] Service Worker hash error, please set hash: md5_file("/service-worker.js").');
        }
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/service-worker.js', { updateViaCache: 'none' }).then(function (registration) {
                registration.onupdatefound = function () {
                    var installingWorker = registration.installing;
                    installingWorker.onstatechange = function () {
                        switch (installingWorker.state) {
                            case 'installed':
                                if (navigator.serviceWorker.controller) {
                                    console.log('[sw-precache] New or updated content is available.');
                                } else {
                                    console.log('[sw-precache] Content is now available offline!');
                                }
                                break;
                            case 'redundant':
                                console.error('[sw-precache] The installing service worker became redundant.');
                                break;
                        }
                    };
                };
                if (localStorage.getItem('SERVICE_WORKER_HASH') != SERVICE_WORKER_HASH && (registration.installing && registration.installing.state == 'installed')) {
                    console.log('[sw-precache] Service Worker was updated because hash changed.');
                    try {
                        registration.update();
                    } catch(error) {
                        console.error(error);
                    }
                }
                localStorage.setItem('SERVICE_WORKER_HASH', SERVICE_WORKER_HASH);
            }).catch(function (error) {
                console.error('[sw-precache] Error during service worker registration:', error);
            });
        }
    </script>
    <!-- /service-worker -->
{% endif %}
