{% if APP.USE_SERVICE_WORKER %}
    <script type="text/javascript">
        ('serviceWorker' in navigator) && (function(baseURL, hash) {
            navigator.serviceWorker.getRegistrations().then(function(registrations) {
                var scriptURL = baseURL + '?' + hash;
                var registration = registrations.find(function(r) {
                    return r.active && r.active.scriptURL.indexOf(baseURL) === 0 && scriptURL != r.active.scriptURL;
                });
                if (registration && localStorage.getItem('SERVICE_WORKER_HASH') != hash) {
                    console.log('Service Worker was updated because hash changed.');
                    localStorage.setItem('SERVICE_WORKER_HASH', hash);
                    registration.update();
                } else {
                    navigator.serviceWorker.register(scriptURL);
                    localStorage.setItem('SERVICE_WORKER_HASH', hash);
                }
            });
        })(document.location.protocol + '//' + document.location.host + '/service-worker.js', '{{ APP.SERVICE_WORKER_HASH() }}');
    </script>
{% endif %}
