<p>WYSIWYG — Content from WYSIWYG-editor</p>

<p>This is a <a href="/">a example link</a>. Give it a click if you like.</p>

<br><br>
<hr>

<h2>Headings and paragraphs <small>#</small></h2>

<p> All heading elements — e.g., <code>&lt;h1&gt;</code> — and
    <code>&lt;p&gt;</code>
    are reset to have their <code>margin-top</code> removed. Headings have
    <code>margin-bottom: .5rem</code>
    added and paragraphs <code>margin-bottom: 1rem</code> for easy spacing.
</p>

<h1>h1. Bootstrap heading</h1>
<h2>h2. Bootstrap heading</h2>
<h3>h3. Bootstrap heading</h3>
<h4>h4. Bootstrap heading</h4>
<h5>h5. Bootstrap heading</h5>
<h6>h6. Bootstrap heading</h6>

<p>
    Default paragraph: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua
</p>

<br><br>
<hr>
<h2>Lead <small>#</small></h2>

<p>Make a paragraph stand out by adding <code>.lead</code>.</p>

<p class="lead">
    Lead paragraph: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua
</p>

<br><br>
<hr>
<h2>Blockquote <small>#</small></h2>

<p>
    The default <code>margin</code> on blockquotes is
    <code>1em 40px</code>,
    so we reset that to <code>0 0 1rem</code> for something more consistent with
    other elements.
</p>

<blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>

<p>
    Naming a source add a <code>&lt;footer&gt;</code> for identifying the source.
</p>

<blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer>Source title</footer>
</blockquote>

<br><br>
<hr>
<h2>Lists <small>#</small></h2>

<p>
    All lists — <code>&lt;ul&gt;</code>,
    <code>&lt;ol&gt;</code>,
    and <code>&lt;dl&gt;</code> — have their
    <code>margin-top</code>
    removed and a <code>margin-bottom: 1rem</code>.
    Nested lists have no <code>margin-bottom</code>.
</p>

<br><br>
<hr>
<h3>Ordered Lists <small>#</small></h3>

<ul>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Consectetur adipiscing elit</li>
    <li>Integer molestie lorem at massa</li>
    <li>Facilisis in pretium nisl aliquet</li>
    <li>Nulla volutpat aliquam velit
        <ul>
            <li>Phasellus iaculis neque</li>
            <li>Purus sodales ultricies</li>
            <li>Vestibulum laoreet porttitor sem</li>
            <li>Ac tristique libero volutpat at</li>
        </ul>
    </li>
    <li>Faucibus porta lacus fringilla vel</li>
    <li>Aenean sit amet erat nunc</li>
    <li>Eget porttitor lorem</li>
</ul>

<br><br>
<hr>
<h3>Number Lists <small>#</small></h3>

<ol style="--start:1;">
    <li>Lorem ipsum dolor sit amet</li>
    <li>Consectetur adipiscing elit</li>
    <li>Integer molestie lorem at massa</li>
    <li>Facilisis in pretium nisl aliquet</li>
    <li>Nulla volutpat aliquam velit</li>
    <li>Faucibus porta lacus fringilla vel</li>
    <li>Aenean sit amet erat nunc</li>
    <li>Eget porttitor lorem</li>
</ol>

<br><br>
<hr>
<h3>Unstyled Lists <small>#</small></h3>

<p>
    Remove the default <code>list-style</code> and left margin on list items
    (immediate children only).
    <strong>This only applies to immediate children list items</strong>, meaning you will need to add
    the class for any nested lists as well.
</p>

<ul class="list-unstyled">
    <li>Lorem ipsum dolor sit amet</li>
    <li>Consectetur adipiscing elit</li>
    <li>Integer molestie lorem at massa</li>
    <li>Facilisis in pretium nisl aliquet</li>
    <li>Nulla volutpat aliquam velit
        <ul>
            <li>Phasellus iaculis neque</li>
            <li>Purus sodales ultricies</li>
            <li>Vestibulum laoreet porttitor sem</li>
            <li>Ac tristique libero volutpat at</li>
        </ul>
    </li>
    <li>Faucibus porta lacus fringilla vel</li>
    <li>Aenean sit amet erat nunc</li>
    <li>Eget porttitor lorem</li>
</ul>

<br><br>
<hr>
<h2>Images <small>#</small></h2>

<br><br>
<hr>
<h3>Responsive thumbnails <small>#</small></h3>
<p>Images in Bootstrap are made responsive with <code>.img-fluid</code>.
    <code>max-width: 100%;</code> and
    <code>height: auto;</code> are applied to the image so that it scales with the
    parent element.
</p>
<img class="img-fluid" width="927" height="250" alt="Responsive image"
     src="./upload/intecmedia-banner.jpg">

<br><br>
<hr>
<h3>Image thumbnails <small>#</small></h3>

<img class="img-thumbnail" width="200" height="200" alt="200x200" src="./upload/intecmedia-banner.jpg">

<br><br>
<hr>
<h3>Aligning images <small>#</small></h3>

<img align="left" width="200" height="200" alt="Align left" src="./upload/intecmedia-banner.jpg">

<img align="right" width="200" height="200" alt="Align right" src="./upload/intecmedia-banner.jpg">

<img align="center" width="200" height="200" alt="Align center" src="./upload/intecmedia-banner.jpg">

<div class="clearfix"></div>

<br><br>
<hr>
<h3>Figures <small>#</small></h3>

<p>Anytime you need to display a piece of content — like an image with
    an optional caption, consider using a <code>&lt;figure&gt;</code>.</p>

<figure>
    <img class="img-fluid" width="200" height="200" alt="Responsive image"
         src="./upload/intecmedia-banner.jpg">
    <figcaption>A caption for the above image.</figcaption>
</figure>

<h3>Aligning figures <small>#</small></h3>

<figure class="pull-left">
    <img class="img-fluid" width="200" height="200" alt="Responsive image left"
         src="./upload/intecmedia-banner.jpg">
    <figcaption>Align left.</figcaption>
</figure>

<figure class="pull-right">
    <img class="img-fluid" width="200" height="200" alt="Responsive image right"
         src="./upload/intecmedia-banner.jpg">
    <figcaption>Align right.</figcaption>
</figure>

<figure class="text-center">
    <img class="img-fluid" width="200" height="200" alt="Responsive image center"
         src="./upload/intecmedia-banner.jpg">
    <figcaption>Align center.</figcaption>
</figure>

<div class="clearfix"></div>

<br><br>
<hr>
<h3>Pictures <small>#</small></h3>

<picture>
    <img class="img-fluid" width="200" height="200" alt="Responsive image"
         src="./upload/intecmedia-banner.jpg">
</picture>

<h3>Aligning pictures <small>#</small></h3>

<picture class="pull-left">
    <img class="img-fluid" width="200" height="200" alt="Responsive image left"
         src="./upload/intecmedia-banner.jpg">
</picture>

<picture class="pull-right">
    <img class="img-fluid" width="200" height="200" alt="Responsive image right"
         src="./upload/intecmedia-banner.jpg">
</picture>

<picture class="text-center">
    <img class="img-fluid" width="200" height="200" alt="Responsive image center"
         src="./upload/intecmedia-banner.jpg">
</picture>

<div class="clearfix"></div>

<br><br>
<hr>
<h2>Tables <small>#</small></h2>

<div class="table-responsive">
    <table>
        <caption>table caption: default table</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">align</th>
                <td align="left">left</td>
                <td align="right">right</td>
                <td align="center">center</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <table border="0">
        <caption>table caption: unstyled table</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">align</th>
                <td align="left">left</td>
                <td align="right">right</td>
                <td align="center">center</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>