/* stylelint-disable selector-max-compound-selectors, max-nesting-depth, selector-no-qualifying-type, scss/at-extend-no-missing-placeholder */
.wysiwyg {
    // image with caption
    figure {
        @extend .figure;

        img {
            @extend .figure-img;
        }

        figcaption {
            @extend .figure-caption;
        }
    }
    // default tables
    table:not([class]) {
        @extend .table;
        @extend .table-bordered;
        width: 100%;
    }
    // disabled table
    table[border='0'] {
        background: transparent;
        border: 0;
        width: inherit;

        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th,
                > td {
                    background: transparent;
                    border: 0;
                }
            }
        }
    }
    // colored bulls
    ul:not([class]) > li {
        list-style: none;
        position: relative;

        &::before {
            color: $body-color;
            content: '\2022';
            font-family: inherit;
            font-size: $font-size-base;
            line-height: $line-height-base;
            margin-left: -$font-size-base;
            position: absolute;
            text-align: center;
            vertical-align: middle;
            width: $font-size-base;
        }
    }
    // responsive images
    .img-responsive {
        @extend .img-fluid;
    }

    .img-rounded {
        border-radius: $border-radius !important;
    }

    .img-circle {
        border-radius: $border-radius !important;
        border-radius: 50%;
    }
    // image aligment
    img[align='left'],
    img.pull-left {
        float: left;
        margin-right: $font-size-base;
    }

    img[align='right'],
    img.pull-right {
        float: right;
        margin-left: $font-size-base;
    }

    .text-center img,
    img.text-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    // blockquotes
    blockquote {
        @extend .blockquote;
    }
}
/* stylelint-enable selector-max-compound-selectors, max-nesting-depth, selector-no-qualifying-type, scss/at-extend-no-missing-placeholder */
