.wysiwyg {
    img:not([class]) {
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
        @extend .img-responsive;
    }
    // image with caption
    figure {
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
        @extend .figure;

        img {
            /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
            @extend .figure-img;
        }

        figcaption {
            /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
            @extend .figure-caption;
        }
    }
    // default tables
    table:not([class]) {
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
        @extend .table;
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
        @extend .table-bordered;
        width: 100%;
    }
    // disabled table
    table[border="0"] {
        background: transparent;
        border: 0;
        width: inherit;

        > thead,
        > tbody,
        > tfoot {
            > tr {
                /* stylelint-disable-next-line selector-max-compound-selectors, selector-max-type */
                > th,
                > td {
                    background: transparent;
                    border: 0;
                }
            }
        }
    }
    // colored bulls
    ul:not([class]) > li {
        list-style: none;
        position: relative;

        &::before {
            color: $body-color;
            content: "\2022";
            font-family: inherit;
            font-size: $font-size-base;
            line-height: $line-height-base;
            margin-left: -$font-size-base;
            position: absolute;
            text-align: center;
            vertical-align: middle;
            width: $font-size-base;
        }
    }
    // responsive images
    .img-responsive {
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
        @extend .img-fluid;
    }

    .img-rounded {
        /* stylelint-disable-next-line declaration-no-important */
        border-radius: $border-radius !important;
    }

    .img-circle {
        /* stylelint-disable-next-line declaration-no-important */
        border-radius: $border-radius !important;
        border-radius: 50%;
    }
    // image aligment
    img[align="left"],
    img.pull-left {
        float: left;
        margin-right: $font-size-base;
    }

    img[align="right"],
    img.pull-right {
        float: right;
        margin-left: $font-size-base;
    }

    .text-center img,
    img.text-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    // blockquotes
    blockquote {
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
        @extend .blockquote;
    }
}
