/* stylelint-disable scss/selector-nest-combinators, selector-max-type */
.wysiwyg {
    // default image
    img:not([class]) {
        @extend .img-responsive;
    }

    // image with caption
    figure {
        @extend .figure;

        img {
            @extend .figure-img;
        }

        figcaption {
            @extend .figure-caption;
        }
    }

    caption {
        caption-side: top;
    }

    // default tables
    table:not([class]) {
        @extend .table;
        @extend .table-bordered;

        width: 100%;
    }

    // disabled table
    table[border="0"] {
        width: inherit;

        background: transparent;
        border: 0;

        > thead,
        > tbody,
        > tfoot {
            /* stylelint-disable-next-line selector-max-compound-selectors */
            > tr {
                /* stylelint-disable-next-line selector-max-compound-selectors, max-nesting-depth */
                > th,
                > td {
                    background: transparent;
                    border: 0;
                }
            }
        }
    }

    // cells: collapse childs
    td,
    th {
        > *:first-child {
            margin-top: 0;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }

    // colored bulls
    ul:not([class]) > li {
        position: relative;

        list-style: none;

        $ul-bull-symbol: "•" !default;
        $ul-bull-color: $body-color !default;
        $ul-bull-font-size: $font-size-base !default;
        $ul-bull-line-height: $line-height-base !default;

        &::before {
            position: absolute;

            width: $ul-bull-font-size;
            margin-left: -$ul-bull-font-size;

            color: $ul-bull-color;

            font-size: $ul-bull-font-size;
            font-family: inherit;
            line-height: $ul-bull-line-height;

            text-align: center;
            vertical-align: middle;

            content: $ul-bull-symbol;
        }
    }

    // responsive images
    .img-responsive {
        @extend .img-fluid;
    }

    .img-rounded {
        /* stylelint-disable-next-line declaration-no-important */
        border-radius: $border-radius !important;
    }

    .img-circle {
        /* stylelint-disable-next-line declaration-no-important */
        border-radius: $border-radius !important;
        border-radius: 50%;
    }

    // image aligment
    img[align="left"],
    img.pull-left {
        float: left;
        margin-right: $font-size-base;
    }

    img[align="right"],
    img.pull-right {
        float: right;
        margin-left: $font-size-base;
    }

    img[align="center"],
    .text-center img,
    img.text-center {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    // blockquotes
    blockquote {
        @extend .blockquote;
    }
}
/* stylelint-enable scss/selector-nest-combinators, selector-max-type */
