<!-- beautify ignore:start -->
{% macro lazy (url, alt, attrs = {}) %}
    {% set size = image_size(url) %}
    {% if size.width and size.height %}
    {% set attrs = object_assign(attrs, {
        style: '--image-width:' + size.width + ';' + '--image-height:' + size.height + ';' + (attrs.style | default(''))
    }) %}
    {% endif %}
    <img
        src="{{ require(url) }}"
        {% if not attrs.loading %}
        loading="lazy"
        {% endif %}
        {% if size.width and size.height %}
        width="{{ size.width }}"
        height="{{ size.height }}"
        intrinsicsize="{{ size.width }}x{{ size.height }}"
        {% endif %}
        {% if alt %}alt="{{ alt }}"{% endif %}
        {% for k, v in attrs %} {{ k }}="{{ v }}"{% endfor %}
    >
{% endmacro %}

{% macro picture (url, alt, attrs={}) %}
    {% set size = image_size(url) %}
    {% if size.width and size.height %}
    {% set attrs = object_assign(attrs, {
        style: '--image-width:' + size.width + ';' + '--image-height:' + size.height + ';' + (attrs.style | default(''))
    }) %}
    {% endif %}
    <picture{% for k, v in attrs %}{% if k != 'img' %} {{ k }}="{{ v }}"{% endif %}{% endfor %}>
        <img
            src="{{ require(url) }}"
            {% if not (attrs.img and attrs.img.loading) %}
            loading="lazy"
            {% endif %}
            {% if size.width and size.height %}
            width="{{ size.width }}"
            height="{{ size.height }}"
            intrinsicsize="{{ size.width }}x{{ size.height }}"
            {% endif %}
            {% if attrs.img %}{% for k, v in attrs.img %} {{ k }}="{{ v }}"{% endfor %}{% endif %}
            {% if alt %}alt="{{ alt }}"{% endif %}
        >
    </picture>
{% endmacro %}
<!-- beautify ignore:end -->