<!-- beautify ignore:start -->
{% set DEFAULT_SOURCES = [
    ['(max-width: 575.98px)', '576x', 'sm'],
    ['(max-width: 767.98px)', '768x', 'md'],
    ['(max-width: 991.98px)', '992x', 'lg'],
    ['(max-width: 1199.98px)', '1200x', 'xl'],
    ['(min-width: 1200px)', '1920x', 'hd']
] %}

{% set DEFAULT_OPTIONS = {} %}

{% macro sources (url, alt, attrs={}, sources=DEFAULT_SOURCES, options=DEFAULT_OPTIONS) %}
    {% if url.toLowerCase().endsWith('.svg') %}{{ throw('Useless <picture> for SVG: ' + url|dump + '.') }}{% endif %}
    {% set dimensions = image_size(url) %}
    {% if dimensions.width and dimensions.height %}
    {% set attrs = object_assign(attrs, {
        style: '--image-width:' + dimensions.width + ';' + '--image-height:' + dimensions.height + ';' + (attrs.style | default(''))
    }) %}
    {% endif %}
    <picture{% for k, v in attrs %}{% if k != 'img' %} {{ k }}="{{ v }}"{% endif %}{% endfor %}>
        <!-- sources = {{ sources | dump | safe }} -->

        {% if APP.ENV.PROD or APP.ENV.DEBUG %}
        {% if APP.AVIF and not options.noavif %}{% for source in sources %}
        <source{% if source[0] %} media="{{ source[0] }}"{% endif %} srcset="{{ require(url + '?resize=' + source[1] + '&format=avif&suffix=' + source[2]) }}" type="image/avif">
        {% endfor %}{% endif %}
        {% if APP.WEBP and not options.nowebp %}{% for source in sources %}
        <source{% if source[0] %} media="{{ source[0] }}"{% endif %} srcset="{{ require(url + '?resize=' + source[1] + '&format=webp&suffix=' + source[2]) }}" type="image/webp">
        {% endfor %}{% endif %}
        {% endif %}

        {% for source in sources %}
        <source{% if source[0] %} media="{{ source[0] }}"{% endif %} srcset="{{ require(url + '?resize=' + source[1] + '&suffix=' + source[2]) }}" type="image/{{ dimensions.type }}">
        {% endfor %}

        {% if APP.ENV.PROD or APP.ENV.DEBUG %}
        {% if APP.AVIF and not options.noavif %}<source srcset="{{ require(url + '?resize=&format=avif') }}" type="image/avif">{% endif %}
        {% if APP.WEBP and not options.nowebp %}<source srcset="{{ require(url + '?resize=&format=webp') }}" type="image/webp">{% endif %}
        {% endif %}

        <img
            src="{{ require(url) }}"
            {% if not (attrs.img and attrs.img.loading) %}
            loading="lazy"
            {% endif %}
            {% if dimensions.width and dimensions.height %}
            width="{{ dimensions.width }}"
            height="{{ dimensions.height }}"
            intrinsicsize="{{ dimensions.width }}x{{ dimensions.height }}"
            {% endif %}
            {% if attrs.img %}{% for k, v in attrs.img %} {{ k }}="{{ v }}"{% endfor %}{% endif %}
            alt="{{ alt }}"
        >
    </picture>
{% endmacro %}

{% macro picture (url, alt, attrs={}, options=DEFAULT_OPTIONS) %}
    {% if url.toLowerCase().endsWith('.svg') %}{{ throw('Useless <picture> for SVG: ' + url|dump + '.') }}{% endif %}
    {% set dimensions = image_size(url) %}
    {% if dimensions.width and dimensions.height %}
    {% set attrs = object_assign(attrs, {
        style: '--image-width:' + dimensions.width + ';' + '--image-height:' + dimensions.height + ';' + (attrs.style | default(''))
    }) %}
    {% endif %}
    <picture{% for k, v in attrs %}{% if k != 'img' %} {{ k }}="{{ v }}"{% endif %}{% endfor %}>
        {% if APP.ENV.PROD or APP.ENV.DEBUG %}
        {% if APP.AVIF and not options.noavif %}<source srcset="{{ require(url + '?resize=&format=avif') }}" type="image/avif">{% endif %}
        {% if APP.WEBP and not options.nowebp %}<source srcset="{{ require(url + '?resize=&format=webp') }}" type="image/webp">{% endif %}
        {% endif %}
        <img
            src="{{ require(url) }}"
            {% if not (attrs.img and attrs.img.loading) %}
            loading="lazy"
            {% endif %}
            {% if dimensions.width and dimensions.height %}
            width="{{ dimensions.width }}"
            height="{{ dimensions.height }}"
            intrinsicsize="{{ dimensions.width }}x{{ dimensions.height }}"
            {% endif %}
            {% if attrs.img %}{% for k, v in attrs.img %} {{ k }}="{{ v }}"{% endfor %}{% endif %}
            alt="{{ alt }}"
        >
    </picture>
{% endmacro %}
<!-- beautify ignore:end -->