{% macro picture (url, alt, attrs={}) %}
    <picture{% for k, v in attrs %} {{ k }}="{{ v }}"{% endfor %}>
        <source media="(max-width: 575px)" srcset="{{ require(url + '?resize=576x&format=webp&suffix=xs') }}" type="image/webp">

        <source media="(min-width: 576px) and (max-width: 767px)" srcset="{{ require(url + '?resize=768x&format=webp&suffix=sm') }}" type="image/webp">
        <source media="(min-width: 768px) and (max-width: 991px)" srcset="{{ require(url + '?resize=992x&format=webp&suffix=md') }}" type="image/webp">
        <source media="(min-width: 992px) and (max-width: 1199px)" srcset="{{ require(url + '?resize=1200x&format=webp&suffix=lg') }}" type="image/webp">
        <source media="(min-width: 1200px)" srcset="{{ require(url + '?resize=x&format=webp&suffix=xl') }}" type="image/webp">

        <source media="(max-width: 575px)" srcset="{{ require(url + '?resize=576x&format=jpg&suffix=xs') }}" type="image/jpeg">
        <source media="(min-width: 576px) and (max-width: 767px)" srcset="{{ require(url + '?resize=766x&format=jpg&suffix=sm') }}" type="image/jpeg">
        <source media="(min-width: 768px) and (max-width: 991px)" srcset="{{ require(url + '?resize=992x&format=jpg&suffix=md') }}" type="image/jpeg">
        <source media="(min-width: 992px) and (max-width: 1199px)" srcset="{{ require(url + '?resize=1200x&format=jpg&suffix=lg') }}" type="image/jpeg">
        <source media="(min-width: 1200px)" srcset="{{ require(url + '?resize=x&format=jpg&suffix=xl') }}-xl.jpg" type="image/jpeg">

        <img src="{{ require(url) }}" alt="{{ alt }}">
    </picture>
{% endmacro %}
