
// Debug helper
@if $NODE_ENV != "production" {
    body:after {
        background-color: $alert-danger-bg;
        border-color: $alert-danger-border;
        color: $alert-danger-text;
        content: "Only visible $NODE_ENV=#{$NODE_ENV}";
        padding: $padding-xs-vertical $padding-xs-horizontal;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: $zindex-modal;
    }
}

