/* stylelint-disable selector-max-compound-selectors, max-nesting-depth, selector-no-qualifying-type, scss/at-extend-no-missing-placeholder */
.wysiwyg {
    // image with caption
    figure {
        @extend .thumbnail;

        > figcaption {
            color: $thumbnail-caption-color;
            padding: $thumbnail-caption-padding;
        }
    }
    // default tables
    table:not([class]) {
        @extend .table;
        @extend .table-bordered;
        width: 100%;
    }
    // disabled table
    table[border='0'] {
        background: transparent;
        border: 0;
        width: inherit;

        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th,
                > td {
                    background: transparent;
                    border: 0;
                }
            }
        }
    }
    // colored bulls
    ul:not([class]) > li {
        list-style: none;
        position: relative;

        &::before {
            color: $text-color;
            content: '\2022';
            font-family: inherit;
            font-size: $font-size-large;
            line-height: $line-height-computed;
            margin-left: -$font-size-base;
            position: absolute;
            text-align: center;
            vertical-align: middle;
            width: $font-size-base;
        }
    }
    // image aligment
    img[align='left'],
    img.pull-left {
        float: left;
        margin-right: $padding-base-horizontal;
    }

    img[align='right'],
    img.pull-right {
        float: right;
        margin-left: $padding-base-horizontal;
    }

    .text-center img,
    img.text-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
/* stylelint-enable selector-max-compound-selectors, max-nesting-depth, selector-no-qualifying-type, scss/at-extend-no-missing-placeholder */
