# Allow access to web fonts from all domains.
<FilesMatch ".(ttf|otf|eot|woff|woff2|svg)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
    </IfModule>
</FilesMatch>

<IfModule mod_mime.c>
    AddType application/font-woff .woff
    AddType application/font-woff2 .woff2
</IfModule>

# Expires headers
<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresByType application/font-woff                 A10368000
    ExpiresByType application/font-woff2                A10368000
    ExpiresByType application/vnd.ms-fontobject         A10368000
    ExpiresByType application/x-font-ttf                A10368000
    ExpiresByType font/opentype                         A10368000
    ExpiresByType image/svg+xml                         A10368000
</IfModule>
