/* stylelint-disable function-url-quotes -- stylelint not detect quote() */
@mixin font-face($name, $path, $weight: null, $style: null, $exts: woff2 woff) {
    $src: null;
    $extmods: (
        eot: "?",
        svg: "#" + str-replace($name, " ", "_"),
    );
    $formats: (
        otf: "opentype",
        ttf: "truetype",
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-weight: $weight;
        font-family: quote($name);
        font-style: $style;
        src: $src;
        font-display: swap;

        @content;
    }
}
/* stylelint-enable function-url-quotes -- stylelint not detect quote() */

// @include font-face(Example, '../fonts/Example', null, null, woff2 woff);
// @include font-face(Example, '../fonts/Example-Light', 300, null, woff2 woff);
// @include font-face(Example, '../fonts/Example-Medium', 500, null, woff2 woff);
// @include font-face(Example, '../fonts/Example-Bold', 700, null, woff2 woff);
// @include font-face(Example, '../fonts/Example-Italic', null, italic, woff2 woff);
// @include font-face(Example, '../fonts/Example-Bold-Italic', 700, italic, woff2 woff);
