@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        /* stylelint-disable-next-line max-line-length */
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: woff2 woff) {
    $src: null;
    $extmods: (eot: "?", svg: "#" + str-replace($name, " ", "_"));
    $formats: (otf: "opentype", ttf: "truetype");

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        /* stylelint-disable-next-line function-url-quotes */
        $src: append($src, url(quote($path + '.' + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-weight: $weight;
        font-family: quote($name);
        font-style: $style;
        src: $src;
        font-display: swap;
    }
}

// @include font-face(Samplinoff, '../fonts/Samplinoff', null, null, woff2 woff);
// @include font-face(Samplinoff, '../fonts/Samplinoff-Light', 300, null, woff2 woff);
// @include font-face(Samplinoff, '../fonts/Samplinoff-Bold', 700, null, woff2 woff);
// @include font-face(Samplinoff, '../fonts/Samplinoff-Italic', null, italic, woff2 woff);
// @include font-face(Samplinoff, '../fonts/Samplinoff-Bold-Italic', 700, italic, woff2 woff);
