/* stylelint-disable no-duplicate-selectors -- already in 'node_modules/bootstrap/scss/reboot.scss', but we need it */
/* stylelint-disable plugin/selector-bem-pattern, selector-nested-pattern -- is common styles, not component */

/* postcss-bem-linter: ignore */
:root {
    --NODE_ENV: "#{$NODE_ENV}";
    --DEBUG: "#{$DEBUG}";
    --PACKAGE_NAME: "#{$PACKAGE_NAME}";
    --viewport-height: calc(var(--vh, 1vh) * 100); // https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
    --section-height: 100vh;

    @each $name, $width in $grid-breakpoints {
        --breakpoint-#{$name}: #{$width};
    }

    @include fluid-steps(
        $negative-count: $fluid-steps-negative-count,
        $positive-count: $fluid-steps-positive-count,
        $min-width: $fluid-steps-min-width,
        $min-size: $fluid-steps-min-size,
        $min-scale: $fluid-steps-min-scale,
        $max-width: $fluid-steps-max-width,
        $max-size: $fluid-steps-max-size,
        $max-scale: $fluid-steps-max-scale
    );
    @include fluid-spacers(
        $spacers: $fluid-spacers,
        $spacers-pairs: $fluid-spacers-pairs,
        $min-width: $fluid-spacers-min-width,
        $min-size: $fluid-spacers-min-size,
        $max-width: $fluid-spacers-max-width,
        $max-size: $fluid-spacers-max-size
    );
    @include fluid-clamp-prop(
        $prop: --fluid-gutter,
        $min-size: rem($fluid-gutter-min-size),
        $max-size: rem($fluid-gutter-max-size),
        $min-width: $fluid-gutter-min-width,
        $max-width: $fluid-gutter-max-width
    );

    background: var(--#{$prefix}body-bg, #{$body-bg});

    @include vertical-breakpoint-down(sm) {
        --section-height: #{map-get($vertical-breakpoints, "sm")};
    }

    @include media-breakpoint-down(ss) {
        /* stylelint-disable-next-line declaration-property-unit-allowed-list -- for root allowed only px */
        font-size: 14px;
    }
    @include media-breakpoint-up(hd) {
        $root-font-size-clamp: fluid-clamp($font-size-rem, $font-size-qhd, "hd", "qhd");

        @supports (font-size: $root-font-size-clamp) {
            /* stylelint-disable-next-line plugin/no-unsupported-browser-features, declaration-property-value-no-unknown -- not standart feature */
            font-size: $root-font-size-clamp;
        }
    }
}

/* postcss-bem-linter: ignore */
body {
    --#{$prefix}letter-spacing: #{$letter-spacing};

    min-height: 100vh;

    letter-spacing: var(--#{$prefix}letter-spacing, #{$letter-spacing});
    text-rendering: optimizespeed;

    @supports (-webkit-touch-callout: none) {
        /* stylelint-disable-next-line value-no-vendor-prefix, plugin/no-unsupported-browser-features, declaration-property-value-no-unknown -- iOS problem with 100vh */
        min-height: -webkit-fill-available;
    }

    @if $NODE_ENV != "production" or $DEBUG {
        &::after {
            @include debug-body("NODE_ENV=#{$NODE_ENV} DEBUG=#{$DEBUG}");
        }
    }
}

/* stylelint-enable plugin/selector-bem-pattern, selector-nested-pattern */
/* stylelint-enable no-duplicate-selectors */
