/* stylelint-disable no-duplicate-selectors -- already in 'node_modules/bootstrap/scss/reboot.scss', but we need it */

// Root variables

:root {
    --NODE_ENV: "#{$NODE_ENV}";
    --DEBUG: "#{$DEBUG}";
    --PACKAGE_NAME: "#{$PACKAGE_NAME}";
}

/* stylelint-enable no-duplicate-selectors */
