// Bootstrap variables https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

@import "node_modules/bootstrap/scss/functions";

// scss-docs-start breakpoints

$vertical-breakpoints: (
    ss: 375px,
    sm: 576px,
    md: 768px,
    lg: 992px,
) !default;

$grid-breakpoints: (
    xs: 0,
    ss: 375px,
    sm: 576px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    xxl: 1600px,
    hd: 1920px,
    qhd: 2560px,
) !default;
$container-max-widths: (
    sm: 576px - 36px,
    md: 768px - 48px,
    lg: 1024px - 32px,
    xl: 1280px - 60px,
    xxl: 1600px - 80px,
    hd: 1920px - 120px,
    qhd: 2560px - 120px,
) !default;

// scss-docs-end breakpoints

// scss-docs-start spacers
$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: var(--fluid-spacer-3xs) /* 0.25 */,
    2: var(--fluid-spacer-2xs) /* 0.5 */,
    3: var(--fluid-spacer-s) /* 1.0 */,
    4: var(--fluid-spacer-m) /* 1.5 */,
    5: var(--fluid-spacer-xl) /* 3.0 */,
) !default;
$gutters: $spacers !default;

$grid-gutter-width: var(--fluid-gutter) !default;
$container-padding-x: $grid-gutter-width !default;

// scss-docs-end spacers

// scss-docs-start settings

$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: false !default;
$enable-reduced-motion: false !default;
$enable-smooth-scroll: true !default;
$enable-grid-classes: true !default;
$enable-container-classes: true !default;
$enable-cssgrid: false !default;
$enable-button-pointers: true !default;
$enable-rfs: true !default;
$enable-validation-icons: false !default;
$enable-negative-margins: true !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities: true !default;
$enable-dark-mode: false !default;
$variable-prefix: "" !default;

// scss-docs-end settings

// scss-docs-start colors

$body-bg: #fff !default;
$body-color: #000 !default;

// scss-docs-end colors

// scss-docs-start borders

$border-width: 1px !default;
$border-color: #dee2e6 !default;
$border-radius: var(--fluid-spacer-3xs) !default;
$border-radius-sm: var(--fluid-spacer-3xs) !default;
$border-radius-lg: var(--fluid-spacer-2xs) !default;

// scss-docs-end borders

// scss-docs-start type

$font-family-base:
    system-ui,
    -apple-system,
    "Segoe UI",
    roboto,
    "Helvetica Neue",
    arial,
    "Noto Sans",
    "Liberation Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji" !default;
$font-size-root: null !default;
$font-size-rem: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-base: var(--fluid-step-0) !default;
$font-size-sm: var(--fluid-step-n1) !default;
$font-size-lg: var(--fluid-step-1) !default;
$font-size-qhd: 1.25rem !default;
$line-height-base: 1.5 !default;
$letter-spacing: normal !default;
$rfs-breakpoint: 1280px !default;

// scss-docs-end type

// scss-docs-start headings

$h1-font-size: var(--fluid-step-5) !default;
$h2-font-size: var(--fluid-step-4) !default;
$h3-font-size: var(--fluid-step-3) !default;
$h4-font-size: var(--fluid-step-2) !default;
$h5-font-size: var(--fluid-step-1) !default;
$h6-font-size: $font-size-base !default;
$font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size,
) !default;
$display-font-sizes: $font-sizes !default;
$headings-margin-bottom: var(--fluid-spacer-2xs) !default;

// scss-docs-end headings

// scss-docs-start links

$link-color: #0d6efd !default;
$link-decoration: underline !default;
$link-shade-percentage: 20% !default;
$link-hover-color: shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration: null !default;

// scss-docs-end links

// scss-docs-start para

$paragraph-font-size: var(--fluid-step-0) !default;
$paragraph-margin-bottom: var(--fluid-spacer-s) !default;

// scss-docs-end para

// scss-docs-start blockquote

$blockquote-margin-y: var(--fluid-spacer-s) !default;
$blockquote-font-size: var(--fluid-step-2) !default;

// scss-docs-end blockquote

// scss-docs-start lead

$lead-font-size: var(--fluid-step-2) !default;

// scss-docs-end lead

// scss-docs-start hr
$hr-margin-y: var(--fluid-spacer-s) !default;
$hr-color: inherit !default;

// scss-docs-end hr

// scss-docs-start aspect ratios

$aspect-ratios: (
    "1x1": 100%,
    "4x3": calc(3 / 4 * 100%),
    "16x9": calc(9 / 16 * 100%),
    "21x9": calc(9 / 21 * 100%),
) !default;

// scss-docs-end aspect ratios

// scss-docs-start form-check-variables

$form-check-min-height: 1rem * $line-height-base !default;

// scss-docs-end form-check-variables

// scss-docs-start navbar-variables

$nav-link-padding-y: 0.5rem !default;
$nav-link-height: 1rem * $line-height-base + $nav-link-padding-y * 2 !default;
$navbar-brand-height: 1.25rem * $line-height-base !default;

// scss-docs-end navbar-variables

// scss-docs-start progress-variables

$progress-font-size: 1rem * 0.75 !default;

// scss-docs-end progress-variables

// scss-docs-start card-variables

$card-group-margin: var(--fluid-spacer-xs) !default;

// scss-docs-end card-variables

// scss-docs-start tables

$table-variants: () !default;

$table-cell-padding-y: var(--fluid-spacer-2xs) !default;
$table-cell-padding-x: var(--fluid-spacer-2xs) !default;
$table-cell-padding-y-sm: var(--fluid-spacer-3xs) !default;
$table-cell-padding-x-sm: var(--fluid-spacer-3xs) !default;

// scss-docs-end tables

@import "node_modules/bootstrap/scss/variables";

// Common variables (Not bootstrap)

// scss-docs-start wysiwyg

$lists-indent: var(--fluid-spacer-l) !default;
$lists-margin-bottom: var(--fluid-spacer-3xs) !default;
$ol-marker-color: inherit !default;
$ol-marker-symbol: "." !default;
$ol-marker-list-style-type: decimal !default; // decimal-leading-zero
$ul-marker-color: inherit !default;
$ul-marker-symbol: "●" !default;
$lists-marker-space: str-repeat(" ", 2) !default;
$img-spacer: var(--fluid-spacer-s) !default;

// scss-docs-end wysiwyg

// scss-docs-start tables

$table-border-bordered: false !default;
$table-border-striped: false !default;
$table-caption-font-size: var(--fluid-step-n1) !default;

// scss-docs-end tables

// scss-docs-start subheadings

$subheadings-display: inline-block !default;
$subheadings-color: $headings-color !default;
$subheadings-font-size: 80% !default;
$subheadings-font-family: null !default;
$subheadings-font-style: null !default;
$subheadings-font-weight: 500 !default;
$subheadings-line-height: 1.2 !default;

// scss-docs-end subheadings

// scss-docs-start transitions

$duration-slow: 2.4s !default;
$duration-default: 1.6s !default;
$duration-normal: 0.8s !default;
$duration-fast: 0.4s !default;
$intersection-transition-delay: calc(
    (var(--intersection-delay-offset, 0) * var(--intersection-delay-offset-step, 0.1s)) +
        (var(--intersection-delay-index, 0) * var(--intersection-delay-step, 0.1s))
) !default;

// scss-docs-end transitions

// scss-docs-start fluid steps

$fluid-steps-negative-count: 2 !default;
$fluid-steps-positive-count: 5 !default;

$fluid-steps-min-width: 375px !default;
$fluid-steps-min-size: 16px !default;
$fluid-steps-min-scale: 1.2 !default;

$fluid-steps-max-width: 1920px !default;
$fluid-steps-max-size: 20px !default;
$fluid-steps-max-scale: 1.25 !default;

// scss-docs-end fluid steps

// scss-docs-start fluid steps

$fluid-spacers: (
    "3xs": 0.25,
    "2xs": 0.5,
    "xs": 0.75,
    "s": 1,
    "m": 1.5,
    "l": 2,
    "xl": 3,
    "2xl": 4,
    "3xl": 6,
) !default;

$fluid-spacers-pairs: (
    "3xs": "2xs",
    "2xs": "xs",
    "xs": "s",
    "s": "m",
    "m": "l",
    "l": "xl",
    "xl": "2xl",
    "2xl": "3xl",
) !default;

$fluid-spacers-min-width: 375px !default;
$fluid-spacers-min-size: 16px !default;

$fluid-spacers-max-width: 1920px !default;
$fluid-spacers-max-size: 20px !default;

// scss-docs-end fluid steps

// scss-docs-start fluid gutter

$fluid-gutter-min-width: 375px !default;
$fluid-gutter-min-size: 9px !default;

$fluid-gutter-max-width: 1920px !default;
$fluid-gutter-max-size: 48px !default;

// scss-docs-end fluid gutter
