/* stylelint-disable scss/selector-nest-combinators, selector-max-type, plugin/selector-bem-pattern -- wysiwyg is semantic tags */
.wysiwyg {
    a {
        //
    }

    p {
        margin-bottom: $paragraph-margin-bottom;
    }

    h1, .h1, .display-1 { @extend .h1; }

    h2, .h2, .display-2 { @extend .h2; }

    h3, .h3, .display-3 { @extend .h3; }

    h4, .h4, .display-4 { @extend .h4; }

    h5, .h5, .display-5 { @extend .h5; }

    h6, .h6, .display-6 { @extend .h6; }

    // image with caption
    figure {
        @extend .figure;

        margin-bottom: $img-spacer;

        @include media-breakpoint-down(sm) {
            display: block;

            width: 100%;
            margin-bottom: $img-spacer;
        }

        // image aligment left
        &.pull-left {
            float: left;

            margin-right: $font-size-base;

            @include media-breakpoint-down(sm) {
                float: none;

                margin-right: 0;
            }
        }

        // image aligment right
        &.pull-right {
            float: right;

            margin-left: $font-size-base;

            @include media-breakpoint-down(sm) {
                float: none;

                margin-left: 0;
            }
        }

        img {
            @extend .figure-img;

            @include media-breakpoint-down(sm) {
                margin-bottom: ($img-spacer * .5);
            }
        }

        // image text caption
        figcaption {
            @extend .figure-caption;
        }
    }

    caption {
        font-size: $table-caption-font-size;
    }

    // default tables
    table:not(.table) {
        @extend .table;
        @extend .caption-top;

        @if $table-border-bordered {
            @extend .table-bordered;
        }
        @if $table-border-striped {
            @extend .table-striped;
        }

        width: 100%;

        > caption ~ tr:not(:first-child),
        > caption ~ thead:not(:first-child) {
            border-top-color: $table-border-color;
            border-top-width: 0;

            @if $table-border-bordered {
                border-top-width: $table-border-width;
            }
        }
    }

    // disabled table
    table:not(.table)[border="0"] {
        width: inherit;

        border: 0;

        background: transparent;

        /* stylelint-disable-next-line selector-max-compound-selectors -- its ok for tables */
        > :not(:first-child) {
            border-top: 0;
        }

        > thead,
        > tbody,
        > tfoot {
            /* stylelint-disable-next-line selector-max-compound-selectors -- its ok for tables */
            > tr {
                border: 0;

                /* stylelint-disable-next-line selector-max-compound-selectors, max-nesting-depth -- its ok for tables */
                > th,
                > td {
                    border: 0;

                    background: transparent;

                    box-shadow: none;
                }
            }
        }
    }

    // table cells: collapse childs
    td,
    th {
        > *:first-child {
            margin-top: 0;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }

    // ordered list
    ol:not(.list-unstyled) {
        margin-bottom: $paragraph-margin-bottom;
        padding-left: $list-indent;

        ol, ul {
            // nested without margin-bottom
            margin-bottom: 0;
        }

        > li {
            counter-increment: ol;

            // numeric list
            &::marker {
                content: counter(ol) "#{$ol-marker-symbol + $list-marker-space}";

                color: $ol-marker-color;
            }
        }
    }

    // unordered list
    ul:not(.list-unstyled) {
        margin-bottom: $paragraph-margin-bottom;
        padding-left: $list-indent;

        ol, ul {
            // nested without margin-bottom
            margin-bottom: 0;
        }

        > li {
            // colored bulls
            &::marker {
                content: "#{$ul-marker-symbol + $list-marker-space}";

                color: $ul-marker-color;
            }
        }
    }

    // nested without margin-bottom
    ol ol, ul ul, ol ul, ul ol {
        margin-bottom: 0;

        &:not(.list-unstyled) {
            margin-bottom: 0;
        }
    }

    img {
        // default image
        @extend .img-fluid;

        // images fit width for SM-breakpoint
        @include media-breakpoint-down(sm) {
            display: block;

            width: 100%;
            margin-bottom: $img-spacer;
        }

        // image with rounded border
        &.img-rounded {
            /* stylelint-disable-next-line declaration-no-important -- force set border radius */
            border-radius: $border-radius !important;
        }

        // image with circle border
        &.img-circle {
            /* stylelint-disable-next-line declaration-no-important -- force set border radius */
            border-radius: $border-radius !important;
            border-radius: 50%;
        }

        // image aligment left
        &[align="left"],
        &.pull-left {
            float: left;

            margin-right: $font-size-base;

            @include media-breakpoint-down(sm) {
                float: none;

                margin-right: 0;
            }
        }

        // image aligment right
        &[align="right"],
        &.pull-right {
            float: right;

            margin-left: $font-size-base;

            @include media-breakpoint-down(sm) {
                float: none;

                margin-left: 0;
            }
        }

        // image aligment center
        &[align="center"],
        .text-center &,
        &.text-center {
            margin-right: auto;
            margin-left: auto;

            @include media-breakpoint-down(sm) {
                margin-right: 0;
                margin-left: 0;
            }
        }
    }

    picture {
        margin-bottom: $img-spacer;

        @include media-breakpoint-down(sm) {
            display: block;

            width: 100%;
            margin-bottom: $img-spacer;
        }

        // image aligment left
        &.pull-left {
            float: left;

            margin-right: $font-size-base;

            @include media-breakpoint-down(sm) {
                float: none;

                margin-right: 0;
            }
        }

        // image aligment right
        &.pull-right {
            float: right;

            margin-left: $font-size-base;

            @include media-breakpoint-down(sm) {
                float: none;

                margin-left: 0;
            }
        }

        img {
            @include media-breakpoint-down(sm) {
                margin-bottom: ($img-spacer * .5);
            }
        }
    }

    // blockquotes
    blockquote {
        @extend .blockquote;

        footer {
            @extend .blockquote-footer;
        }
    }
}
/* stylelint-enable scss/selector-nest-combinators, selector-max-type, plugin/selector-bem-pattern */
