---
title: title
homepage: true
description:
og_image:
---

{% extends "partials/layouts/index.html" %}

{% import "partials/macros/resize.html" as resize %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Example Title</h1>
            <div class="wysiwyg">
                <p><a href="/">Content from WYSIWYG-editor</a></p>
                {{ resize.webp('img/upload/intecmedia-banner.jpg', 'IntecMedia') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}