<IfModule mod_mime.c>
    AddType image/webp .webp
    AddType image/avif .avif
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/avif "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
    # Serve brotli compressed svg files if they exist and the client accepts gzip.
    RewriteCond %{REQUEST_FILENAME} \.svg$ [NC]
    RewriteCond %{HTTP:Accept-encoding} br
    RewriteCond %{REQUEST_FILENAME}\.br -s
    RewriteRule ^(.*)\.svg $1\.svg\.br [QSA]
    # Brotli not accepted
    RewriteCond %{REQUEST_FILENAME} \.svg\.br$ [NC]
    RewriteCond %{HTTP:Accept-encoding} !br
    RewriteCond %{REQUEST_FILENAME} -s
    RewriteRule ^(.*)\.svg\.br $1\.svg [L,QSA]

    # Serve gzip compressed svg files if they exist and the client accepts gzip.
    RewriteCond %{REQUEST_FILENAME} \.svg$ [NC]
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.svg $1\.svg\.gz [QSA]
    # Gzip not accepted
    RewriteCond %{REQUEST_FILENAME} \.svg\.gz$ [NC]
    RewriteCond %{HTTP:Accept-encoding} !gzip
    RewriteCond %{REQUEST_FILENAME} -s
    RewriteRule ^(.*)\.svg\.gz $1\.svg [L,QSA]

    # Serve correct content types, and prevent mod_deflate double gzip.
    RewriteRule \.svg\.gz$ - [T=image/svg+xml,E=no-gzip:1]
    RewriteRule \.svg\.br$ - [T=image/svg+xml,E=no-gzip:1]

    <Files *.svg.gz>
        # fix content type
        Header set Content-Type "image/svg+xml; charset=UTF-8"
        AddType "image/svg+xml" .gz
        AddEncoding gzip .gz
        RemoveLanguage .gz
    </Files>
    <Files *.svg.br>
        # fix content type
        Header set Content-Type "image/svg+xml; charset=UTF-8"
        AddType "image/svg+xml" .br
        AddEncoding br .br
        RemoveLanguage .br
    </Files>
    <FilesMatch "(\.svg\.gz)$">
        # Serve correct encoding type.
        Header set Content-Encoding gzip
        # Force proxies to cache gzipped & non-gzipped svg files separately.
        Header append Vary Accept-Encoding
    </FilesMatch>
    <FilesMatch "(\.svg\.br)$">
        # Serve correct encoding type.
        Header set Content-Encoding br
        # Force proxies to cache gzipped & non-gzipped svg files separately.
        Header append Vary Accept-Encoding
    </FilesMatch>
</IfModule>